mixin alertCard(t)
    .col-lg-12
        h6
            if t.type == 'HIGH CORRELATION'
                span.badge.badge-info #{t.column}
                - var txt = ' has '
                span.p.text-muted #{txt}
                span.badge.badge-warning #{t.type}
                - var txt = ' with '
                span.p.text-muted #{txt}
                span.badge.badge-info #{t.num}
                if t.num > 1
                    - var txt1 = ' fields: '
                    span.p.text-muted #{txt1}
                else
                    - var txt1 = ' field: '
                    span.p.text-muted #{txt1}
                each col in t.columns
                    span.badge.badge-info #{col}
            else
                span.badge.badge-warning #{t.type}
                - var txt = ' alert on column '
                span.p.text-muted #{txt}
                span.badge.badge-info #{t.column}