mixin booleanVariablesCard(variable, formatBytes, roundDecimal, convertSVG)
    .col-md-3
        .bs-component
                h4.tile-title #{variable.column}
                span.badge.badge-info Boolean
                each alert in variable.alerts
                    div
                        span.badge.badge-warning #{alert}
    .col-md-3
        .bs-component
            table.table.table-striped
                tbody
                    tr
                        td Distinct
                        td #{variable.n_distinct}
                    tr
                        td Distinct (%)
                        td #{roundDecimal(variable.p_distinct*100)}%
                    tr
                        td Missing
                        td #{variable.n_missing}
                    tr
                        td Missing (%)
                        td #{roundDecimal(variable.p_missing*100)}%
                    tr
                        td Memory size
                        td #{formatBytes(variable.memory_size)}
    .col-md-6
        .bs-component